{% extends "./base.html" %}

{% load static %}
{% load render_table from django_tables2 %}

<link rel="stylesheet" href = "{% static 'roadmaps/style.css' %}">

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="h4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'roadmaps:trajectory' trajelement.trajectory.slug %}"><b>{{ trajelement.trajectory.name }}</b></a></li>
      <li class="breadcrumb-item active" aria-current="page"><b>{{ trajelement.name }}</b></li>
    </ol>
</nav>

<p>Описание: {{ trajelement.description }}</p>

{% if trajelement.tags %}
    <p>
        Теги:
        {% for tag in trajelement.get_tags %}
            <span class="badge text-bg-secondary">{{ tag }}</span>
        {% endfor %}
    </p>
{% else %}
    <p>Тегов не найдено.</p>
{% endif %}

{% if trajelement.courses %} 
    <p>Курсы по элементу:</p>
    {% render_table coursetable %}
{% else %}
    <p>Курсов не найдено.</p>
{% endif %}

{% endblock %}
