{% load static %}

<footer class="footer mt-auto py-3 bg-black">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <div class="col-md-4 d-flex align-items-center">
            <span>Антонов А.Д., ИКБО-02-20</span>
        </div>
        <div class="nav col-md-4 justify-content-end d-flex">
            <a class="text-body-secondary" href="https://github.com/Un57a6L3/course-pltf">
                <img class="icon" width="24" height="24" src="{% static 'roadmaps/github-mark-white.svg' %}" alt="Github repo link">
            </a>
        </div>
    </div>
</footer>
