<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'roadmaps:index' %}">[Platform Name]</a>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'roadmaps:index' %}">Roadmaps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authapp:login' %}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
